<p>
After a multi-year effort that included education professionals interviewing students
at the 2012 Convention in Boston, and phone interviews with other students
at their campuses, Theta Tau, working with RISE Partnerships,
published the New Member Education Manual in Fall 2013.
</p>

 This Manual comes in three versions:
<table class="table">
  <tr><th>Version Name</th><th>Description</th><th>Download Link</th></tr>
  <tr>
    <td>Basic</td>
    <td>suggested for struggling chapters and new colonies.
 It also provides a basis for replacing a chapter’s problematic pledge education
 practices with a safe, creative, and supportive program.</td>
    <td>http://thetatau.org/Websites/thetatauhq/images/Member_Education_Basic_Combined.pdf</td>
  </tr>
  <tr>
    <td>Non-traditional</td>
    <td>suggested for commuter schools or campuses with a
 number of part-time, night-time, and returning students.
 It suggests ways to organize activities/events when campus space is not
 readily available.</td>
    <td>http://thetatau.org/Websites/thetatauhq/images/Member_Education_Non_Traditional_Combined.pdf</td>
  </tr>
  <tr>
    <td>Standard</td>
    <td>suggested for chapters that are healthy,
 and on campuses that have an active, supportive, and that operate in a
 traditional manner with support of the IFC/RSO office.
 It also serves to filter out unhealthy practices.</td>
  </tr>
</table>
<p>
The Prospective New Member Workbook (the document given to prospective new members)
  for each module is found here
 http://thetatau.org/member-education
</p>
<br>
<p>
Over the past few years, Theta Tau chapters and members have repeatedly
been harassed, investigated, and punished by school administrators even for
 activities that chapter members thought were innocent or fun. In some instances,
 accusations against chapters were later proven false but still took a serious toll
 on the chapter’s time and morale.
<b> Following a well-documented program such as those
 contained in these manuals is key to avoiding such troubles and in being able to
  defend yourselves in the event that accusations do arise.</b>
</p>
<p>
  Finally, <b style="color:red">chapters not following one of these 3 models</b> for new member education
  will be <b style="color:red">assessed a 5% penalty</b> on the annual liability insurance invoices for this
 school year.
</p>
Check which Manual version your chapter is using for the 2018-19 School
& Policy Year:
